services:
  - type: web
    env: streamlit
    name: churn-finance-g2-streamlit
    buildCommand: streamlit run app/frontend.py
    envVars:
      - key: DATABASE_URL
        fromService:
          name: churn-finance-g2-mysql
          type: database
          property: connectionString
    routes:
      - type: rewrite
        source: /*
        destination: /app/frontend.py
    # ports:
    #   - 8501:8501

  - type: web
    env: python
    name: churn-finance-g2-backend
    buildCommand: python app/backend.py
    envVars:
      - key: DATABASE_URL
        fromService:
          name: churn-finance-g2-mysql
          type: database
          property: connectionString
    # ports:
    #   - 5000:5000

  - type: database
    name: churn-finance-g2-mysql
    envVars:
      - key: MYSQL_ROOT_PASSWORD
        value: password
      - key: MYSQL_DATABASE
        value: churn_finance
      - key: MYSQL_USER
        value: user
      - key: MYSQL_PASSWORD
        value: password

databases:
  - name: churn-finance-g2-mysql
