Flask
opendatasets
pandas
numpy
seaborn
matplotlib
plotly
sklearn
gdown

# Flask==2.0.1
# opendatasets==0.1.22
# pandas==1.5.3
# numpy==1.25.2
# seaborn==0.13.1
# matplotlib==3.7.1
# plotly==5.15.0
# sklearn==2.2.0
