<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ToDo List</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Ma liste de taches</h1>
<ul>
{% for task in tasks %}
<li>{{ task[1] }}</li>
{% endfor %}
</ul>
<form action="{{ url_for('add') }}" method="post">
<input type="text" name="task" placeholder="Nouvelle tâche">
<button type="submit">Ajouter</button>
</form>
</body>
</html>