name: UIE_M2 - Projet churn finance with CI/CD

# conditions exécution du Jobs pour la partie intégration continue CI
on:
  push:
    branches:
      - main
      - projet-dockeriser
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest #systeme d'exploitation ainstaller sur docker
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4 #recupere le projet gitlab action

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Pretraitement et modelisation'
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python app/Pretraitement_modelisation/pretraitement_modelisation.py

        # run: |
        #   Your ML workflow goes here
        #   pip install -r requirements.txt
        #   python app/app.py

        #   # echo "## Model Metrics"
        #   # cat metrics.txt

        # with:
        #   dockerfile_directory: ./
        #   dockerfile_name: Dockerfile

      # - name: Build Docker Image requirements
      #   run: docker build . -t CHURN_FINANCE_G2

      # Docker image pour la collect de données
      - name: Build Docker Image for data collect
        run: docker build -t churn_finance_g2_collect -f Dockerfile-collect .

      # Docker image pour le lancement de l'application
      - name: Build Docker Image for run app web
        run: docker build -t churn_finance_g2_app -f Dockerfile .

      # Lister les images
      - name: List of Docker images
        run: docker image ls

      # Lancer le conteneur pour
      - name: Run Docker Container
        run: docker run -d -p 4000:4000 churn_finance_g2_collect
      
      - name: Run Docker Container
        run: docker run -d -p 5000:5000 churn_finance_g2_app

      - name: List of Docker -a AFTER
        run: docker ps -a  

      # - name: List of Docker -q AFTER
      #   run: docker ps --filter "ancestor=churn_finance_g2" -q

      # - name: Test
      #   run: docker exec $(docker ps --filter "ancestor=CHURN_FINANCE_G2" -q) python -m unittest discover tests

      - name: Stop Docker Container collect
        run: docker stop churn_finance_g2_collect

      - name: Stop Docker Container app
        run: docker stop churn_finance_g2_app


