name: UIE_M2 - Projet churn finance with CI/CD

# conditions exécution du Jobs pour la partie intégration continue CI
on:
  push:
    branches:
      - main
      - mary
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest #systeme d'exploitation ainstaller sur docker
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4 #recupere le projet gitlab action

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      #Docker image pour le pretraitement
      # - name: 'Lancement du BACKEND'
      #   env:
      #     repo_token: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     pip install -r requirements.txt
      #     python app/backend.py


      # Docker image pour la collect de données
      - name: Build Docker Image for data collect
        run: docker build -t churn_finance_g2_collect -f Dockerfile-collect .

      # Docker image pour le pretraitement de données
      - name: Build Docker Image for data preprocessing
        run: docker build -t churn_finance_g2_pretraining -f Dockerfile-pt-m .

      # Lancer le conteneur docker pour la collect
      - name: Run Docker Container for collect
        run: docker run -d -p 2000:2000 churn_finance_g2_collect

      # Lancer le conteneur docker pour le pretraitement
      - name: Run Docker Container for preprocessing
        run: docker run -d -p 3000:3000 churn_finance_g2_pretraining
      
      # - name: Run Docker Container App web
      #   run: docker run -d -p 8501:8501 churn_finance_g2_web-app

      # Lister les images
      - name: List of Docker images
        run: docker image ls

      # Lister les conteneur
      - name: List of Docker containers
        run: docker ps -a

      # Stoper le conteneur docker pour le pretraitement
      - name: Stop Docker Container preprocessing
        run: docker stop churn_finance_g2_pretraining

      # Stoper le conteneur docker pour la collect
      - name: Stop Docker Container collect
        run: docker stop churn_finance_g2_collect

      # Lancer le docker-compose
      - name: Lancer de DOCKER-COMPOSE (WEB, BACK, MYSQL)
        run: docker-compose up
