name: UIE_M2 - Projet churn finance with CI/CD

# conditions exécution du Jobs pour la partie intégration continue CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Build Docker Image requirements
      #   run: docker build . -t CHURN_FINANCE_G2

      - name: Build Docker Image collect
        run: docker build . --file Dockerfile-collect -t CHURN_FINANCE_G2

      - name: List of Docker images
        run: docker image ls

      - name: Run Docker Container
        run: docker run -d -p 5000:5000 CHURN_FINANCE_G2

      - name: List of Docker -a AFTER
        run: docker ps -a  

      - name: List of Docker -q AFTER
        run: docker ps --filter "ancestor=CHURN_FINANCE_G2" -q

      # - name: Test
      #   run: docker exec $(docker ps --filter "ancestor=CHURN_FINANCE_G2" -q) python -m unittest discover tests

      - name: Stop Docker Container
        run: docker stop CHURN_FINANCE_G2


